* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
/* 显示文本的自定义字体 https://developer.mozilla.org/zh-CN/docs/Web/CSS/@font-face */
@font-face {
  font-family: electronicFont;
  src: url(../assets/fonts/DS-DIGIT.TTF);
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  /*  背景图定位 / 背景图尺寸  cover 完全铺满容器  contain 完整显示在容器内 */
  background: url(../assets/images/bg.jpg) no-repeat #000;
  background-size: cover;
  /* 行高是字体1.15倍 */
  line-height: 1.15;
}
header {
  position: relative;
  height: 1.25rem;
  background: url(../assets/images/head_bg.png) no-repeat top center;
  background-size: 100% 100%;
}
header h1{
  color: #fff;
  font-size: 0.475rem;
  text-align: center;
  line-height: 1.25rem;
}

header #now_time {
  position: absolute;
  right: 0.375rem;
  top: 0;
  line-height: 0.9375rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.25rem;
}
.main_box{
  display: flex;
  margin: 0 auto;
  /* 960,1024,1280,1360,1366,1400,1600,1920,2048 */
  min-width: 1024px;
  max-width: 1920px;
  padding: 0.125rem 0.125rem 0;
}
.main_box .column{
  /* border: 1px solid red; */
  /* 左边和右边占3份 */
  flex: 3; 
  
}
.main_box .column:nth-child(2) {
  /* 中间一列占5份 */
  flex: 5;
  margin: 0 0.125rem 0.1875rem;
  overflow: hidden;
}
.main_box .panel{
  position: relative;
  height: 3.875rem;
  padding: 0 0.1875rem 0.5rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  margin-bottom: 0.1875rem;
  background:url(../assets/images/line.png) rgba(255, 255, 255, 0.12);
}
.main_box .panel::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: "";
}
.main_box .panel::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: "";
}
.main_box .panel .panel_footer{
  width: 100%;
  bottom: 0;
  left: 0;
}
.main_box .panel .panel_footer::before{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
  content: "";
}
.main_box .panel .panel_footer::after{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #02a6b5;
  border-right: 2px solid #02a6b5;
  content: "";
}
.main_box .panel h2 {
  height: 0.6rem;
  color: #fff;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.25rem;
  font-weight: 400;
}
.main_box .column .panel .chart {
  height: 3rem;
}