@mixin text-ellipsis() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

@mixin  clearfix {
    &::after {
      content: "";
      display: table;
      height: 0;
      line-height: 0;
      visibility: hidden;
      clear: both;
    }
  }