#index {
  width: 100%;
  height: 100%;
  .full-screen {
    padding: 0.2rem 0.2rem 0 0.2rem;
    background-image: url('../../assets/pageBg.png');
    background-size: cover;
    background-position: center center;
  }
}
